@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    font-size: 1em;
    background-color: rgb(65, 65, 65);
}

header {
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 1.8em;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
}

.form-group {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    width: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

input[type="submit"] {
    background-color: rgb(65, 65, 65);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(85, 85, 85);
}

footer {
    padding: 15px;
    color: white;
    font-style: italic;
    text-align: center;
    font-size: 0.8em;
}